
# BEGIN WordPress
<IfModule mod_rewrite.c>
# BEGIN OrionFramework
Options +FollowSymLinks -Indexes -Multiviews
RewriteEngine On
#RewriteBase /sm/
RewriteBase /

RewriteRule ^(index\.php|robots\.txt|favicon\.ico)$ - [L]
# Directories to ignore.
#RewriteRule ^(media|css)(/.*)?$ - [L]
RewriteRule ^(Models|Lib|Config|Panel|Aplication|Template|Cache|cache|Log|log)$ - [F,L]
#RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule .* index.php?/$0 [PT,L,QSA]

RewriteCond  %{REQUEST_FILENAME}  -s  [OR]
RewriteCond  %{REQUEST_FILENAME}  -l  [OR]
RewriteCond  %{REQUEST_FILENAME}  -d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteCond %{REQUEST_URI} !=/*.css

RewriteRule  ^.*$  -  [NC,L]
RewriteRule  ^.*$  index.php  [NC,L]

# END OrionFramework

</IfModule>

# END WordPress
