
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: subpixel-antialiased; /*antialiased;*/
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    text-shadow: 0 0 1px rgba(51,51,51,0.2);
}

.body-section {
    z-index: 2;
    overflow: hidden;
    max-height: 341px;
    margin-bottom: -41px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    background-color: #333;
    background-image: url("../images/enterprise-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 0;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
    padding-top: 200px;
}

.body-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #e5e5e5;
    overflow: visible;
}

.header-section {
      border-bottom: 0;
      box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
}

.header-section {

}

.header-inner {
    /*margin-top: -150px;*/
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto 0;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    position: relative;
    overflow: visible;
}

.page-wrapper {
    border-radius: 0% 0% 100% 100% / 0% 0% 4px 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.page-wrapper {
    margin-top: -20px;
}


.footer-section {
    height: 60px;
    background-color: #f5f5f5;
}

.footer-section {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f5f5), color-stop(100%, #5f5f5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 50%, #5f5f5 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 50%, #5f5f5 100%);
    background-image: -ms-linear-gradient(top, #f5f5f5 50%, #f0f0f0 100%);
    -webkit-box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
}

.footer-inner {
    width: auto;
    max-width: 680px;
    padding: 15px 15px;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}

    .btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    }

.btn:active, .btn.active {
    background-image: none;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,0%,#e6e6e6,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
}

    .btn-default:active, .btn-default.active {
        background-color: #e6e6e6;
        border-color: #e0e0e0;
    }

.btn-primary {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#3071a9,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
    background-repeat: repeat-x;
    border-color: #2d6ca2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}

    .btn-primary:active, .btn-primary.active {
        background-color: #3071a9;
        border-color: #2d6ca2;
    }

.btn-success {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
    background-image: -webkit-linear-gradient(top,#5cb85c,0%,#449d44,100%);
    background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
    background-repeat: repeat-x;
    border-color: #419641;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}

    .btn-success:active, .btn-success.active {
        background-color: #449d44;
        border-color: #419641;
    }

.btn-warning {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
    background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
    background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
    background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}

    .btn-warning:active, .btn-warning.active {
        background-color: #ec971f;
        border-color: #eb9316;
    }

.btn-danger {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9534f),to(#c9302c));
    background-image: -webkit-linear-gradient(top,#d9534f,0%,#c9302c,100%);
    background-image: -moz-linear-gradient(top,#d9534f 0,#c9302c 100%);
    background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
    background-repeat: repeat-x;
    border-color: #c12e2a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ffc9302c',GradientType=0);
}

    .btn-danger:active, .btn-danger.active {
        background-color: #c9302c;
        border-color: #c12e2a;
    }

.btn-info {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
    background-image: -webkit-linear-gradient(top,#5bc0de,0%,#31b0d5,100%);
    background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
    background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
    background-repeat: repeat-x;
    border-color: #2aabd2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}

    .btn-info:active, .btn-info.active {
        background-color: #31b0d5;
        border-color: #2aabd2;
    }

.thumbnail, .img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #357ebd;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#357ebd 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0);
}

.header-section > .navbar {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.header-section > .navbar {
    border: 0;
    box-shadow: 0 0px 2px #111112;
}

.navbar {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#fff,0%,#f8f8f8,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff8f8f8',GradientType=0);
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

    .navbar > .container .navbar-brand {
        margin: 0;
    }

.navbar-header > .navbar-brand {
    border-right: 1px solid #262626;
    box-shadow: 1px 0px 0px #575757;
}

.navbar .navbar-nav > .active > a {
    background-color: #f8f8f8;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 1px 0 #000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
}

.navbar-inverse {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#4A4A4A),to(#36383B));
    background-image: -webkit-linear-gradient(top,#4A4A4A,0%,#36383B,100%);
    background-image: -moz-linear-gradient(top,#4A4A4A 0,#36383B 100%);
    background-image: linear-gradient(to bottom,#4A4A4A 0,#36383B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',endColorstr='#ff222222',GradientType=0);
}

    .navbar-inverse .navbar-nav > .active > a {
        background-color: #222;
    }

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    }

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}

.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
}

.alert-success {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#dff0d8),to(#c8e5bc));
    background-image: -webkit-linear-gradient(top,#dff0d8,0%,#c8e5bc,100%);
    background-image: -moz-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8',endColorstr='#ffc8e5bc',GradientType=0);
}

.alert-info {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9edf7),to(#b9def0));
    background-image: -webkit-linear-gradient(top,#d9edf7,0%,#b9def0,100%);
    background-image: -moz-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',endColorstr='#ffb9def0',GradientType=0);
}

.alert-warning {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fcf8e3),to(#f8efc0));
    background-image: -webkit-linear-gradient(top,#fcf8e3,0%,#f8efc0,100%);
    background-image: -moz-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3',endColorstr='#fff8efc0',GradientType=0);
}

.alert-danger {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f2dede),to(#e7c3c3));
    background-image: -webkit-linear-gradient(top,#f2dede,0%,#e7c3c3,100%);
    background-image: -moz-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede',endColorstr='#ffe7c3c3',GradientType=0);
}

.progress {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#ebebeb,0%,#f5f5f5,100%);
    background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}

.progress-bar {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#3071a9,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}

.progress-bar-success {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
    background-image: -webkit-linear-gradient(top,#5cb85c,0%,#449d44,100%);
    background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}

.progress-bar-info {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
    background-image: -webkit-linear-gradient(top,#5bc0de,0%,#31b0d5,100%);
    background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
    background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}

.progress-bar-warning {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
    background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
    background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
    background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}

.progress-bar-danger {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9534f),to(#c9302c));
    background-image: -webkit-linear-gradient(top,#d9534f,0%,#c9302c,100%);
    background-image: -moz-linear-gradient(top,#d9534f 0,#c9302c 100%);
    background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ffc9302c',GradientType=0);
}

.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    text-shadow: 0 -1px 0 #3071a9;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3278b3));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#3278b3,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#3278b3 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#3278b3 100%);
    background-repeat: repeat-x;
    border-color: #3278b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3278b3',GradientType=0);
}

.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.panel-default > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-linear-gradient(top,#f5f5f5,0%,#e8e8e8,100%);
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
}

.panel-primary > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#357ebd 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0);
}

.panel-success > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#dff0d8),to(#d0e9c6));
    background-image: -webkit-linear-gradient(top,#dff0d8,0%,#d0e9c6,100%);
    background-image: -moz-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8',endColorstr='#ffd0e9c6',GradientType=0);
}

.panel-info > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9edf7),to(#c4e3f3));
    background-image: -webkit-linear-gradient(top,#d9edf7,0%,#c4e3f3,100%);
    background-image: -moz-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',endColorstr='#ffc4e3f3',GradientType=0);
}

.panel-warning > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fcf8e3),to(#faf2cc));
    background-image: -webkit-linear-gradient(top,#fcf8e3,0%,#faf2cc,100%);
    background-image: -moz-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3',endColorstr='#fffaf2cc',GradientType=0);
}

.panel-danger > .panel-heading {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f2dede),to(#ebcccc));
    background-image: -webkit-linear-gradient(top,#f2dede,0%,#ebcccc,100%);
    background-image: -moz-linear-gradient(top,#f2dede 0,#ebcccc 100%);
    background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede',endColorstr='#ffebcccc',GradientType=0);
}

.well {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#e8e8e8),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#e8e8e8,0%,#f5f5f5,100%);
    background-image: -moz-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}
/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
    display: none; /* hidden by default, until >480px */
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

    .highlight pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        white-space: nowrap;
    }

        .highlight pre code {
            font-size: inherit;
            color: #333; /* Effectively the base text color */
        }

        .highlight pre .lineno {
            display: inline-block;
            width: 22px;
            padding-right: 5px;
            margin-right: 10px;
            text-align: right;
            color: #bebec5;
        }

/* Show code snippets when we have the space */
@media screen and (min-width: 481px) {
    .highlight {
        display: block;
    }
}

.top-container {
    padding: 0;
    margin: 0;
}

.top-container {
    -webkit-border-bttom-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #FFF;
    background-color: #F6F6F6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f9f9f9), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #f9f9f9 50%, #f0f0f0 100%);
    background-image: -moz-linear-gradient(top, #f9f9f9 50%, #f0f0f0 100%);
    background-image: -ms-linear-gradient(top, #f9f9f9 50%, #f0f0f0 100%);
    -webkit-box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 2px 1px white, 0 0 3px rgba(0, 0, 0, 0.39);
    max-height: 400px;
    max-height: none;
}



.container .inner {
    border-radius: 0;
}

.container .inner {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
}

.container .inner {
    padding-right: 60px;
    padding-left: 60px;
}

.container .inner {
    padding-top: 48px;
    padding-bottom: 48px;
}


.inner h1 {
    font-size: 63px;
}

.inner h1 {
    line-height: 1;
    color: inherit;
}

.inner p {
    line-height: 1.4;
}

.panel {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.panel-head {
    background: #f0f0f0;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#eaeaea));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: -o-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: linear-gradient(to bottom,#f5f5f5,#eaeaea);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffeaeaea',GradientType=0);
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    padding: 10px 15px;
}

    .panel-head h3 {
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        margin: 0;
    }

.panel-body {
    padding: 15px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #dddddd;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    background-image: -moz-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#eaeaea));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: -o-linear-gradient(top,#f5f5f5,#eaeaea);
    background-image: linear-gradient(to bottom,#f5f5f5,#eaeaea);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffeaeaea',GradientType=0);
}
